# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Great Expectations
great_expectations/

# Flask
*.pyc
webapp/__pycache__/
webapp/instance/
webapp/.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3

